<h1>{{nombre}}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{nombre}}</dd>

    <td>Edad: </td>
    <dd>{{edad}}</dd>

    <td>Metodo: </td>
    
    <dd>{{ getHeroDescription() }}</dd>
    <td>Capitalizado: </td>
    <dd>{{capitalizedName}}</dd>
</dl>

<button 
*ngIf="nombre !== 'Spiderman'"
class="btn btn-primary mx-2"  
(click)="changeNombre()">
    Cambiar nombre
</button>

<button 
*ngIf="edad !== 33"
class="btn btn-primary mx-2" 
(click)="changeEdad()">
    Cambiar edad
</button>

<button 
class="btn btn-primary" 
(click)="resetForm()">
    reset
</button>

